/* 
  Author : miktim@mail.ru
  Created: 2019-09-20
  License: CC BY-SA
*/
.tracker-console{
    float: right;
    max-width: 265px; 
    background-color: white;
    border: 2px solid darkgrey;
    height: 20px;
    border-radius: 5px;
    box-shadow: 0 0 2px grey;
    margin: 12px;
    padding: 10px;
    text-align: left;
    font: 15px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
}
